/* Rappels: 
IE/Edge CSS-prefix: -ms
Firefox CSS-prefix: -moz 
Opera CSS prefix: -o (Presto) and -webkit (Blink) 
Safari CSS prefix: -webkit 
Chrome CSS prefix: -webkit
*/

/* Pour l'impression, mettre en thème clair peu importe la préférence utilisateur */
@media (prefers-color-scheme: dark),
(prefers-color-scheme: light),
(prefers-color-scheme: no-preference) {
	:root {
		/* Text colors */
		--textcolor: black;
		--themecolor: white;
		/* Element/Background colors */
		--darker: rgb(0, 0, 0, 0.2);
		--evendarker: rgb(0, 0, 0, 0.4);
		--highlight: rgb(0, 0, 0, 0.1);
		--highlight2: rgb(0, 0, 0, 0.2);
	}
}