@media (prefers-color-scheme: light) {
	:root {
		/* Text colors */
		--textcolor: black;
		--themecolor: white;
	}

	.outlined {
		text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
	}

	.outlined hr {
		box-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
	}
}